<%
    prevPage = chapter.index > 1 ? "#{ url_pre }-#{ chapter.index - 1 }.html" : "index.html"
    nextPage = chapter.index < collection.length ? "#{ url_pre }-#{ chapter.index + 1 }.html" : "index.html"
%>
<?xml version="1.0" encoding="<%=language.encoding%>"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%=language.locale%>" xml:lang="<%=language.locale%>">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<%=language.encoding%>" />
    <title><%= book.title.to_html %> :: <%= chapter.index %>. <%= chapter.title.to_html %></title>
    <link rel="stylesheet" type="text/css" href="guide.css" />
</head>
<body class="<%= body_class %>">

<div id="banner">
   <div class="pager">
   <a class="pagebar" href="<%= prevPage %>"><%=language.previous_page%></a> | <a class="pagebar" href="<%= nextPage %>"><%=language.next_page%></a>
   </div>
   <div class="title">
   <img src="i/2006.<%= body_class %>title.png" alt="<%= book.title %>" />
   </div>
</div>
<div id="container">
<div class="page">
    <div class="pageLinks">
        <a class="pagebar" href="http://whytheluckystiff.net/">whytheluckystiff.net</a> | <a class="pagebar" href="index.html"><%= language.contents %></a>
    </div>
    <div class="pageTitle">
        <% if body_class == "expansion" %>
            <h3><%= language.expansion_pak_no %> <%= chapter.index %>.</h3>
            <h1><%= chapter.title.to_html %></h1>
        <% else %>
            <h3><%= chapter.index %>.</h3>
            <h1><%= chapter.title.to_html %></h1>
            <p><img src="i/chapter.poignant.guide-<%= chapter.index %>.jpg" alt="[o]" /></p>
        <% end %>
    </div>
    <div class="content">

    <% chapter.sections.each do |sect|
        if sect.respond_to? :file_name %>

        <img src="<%= sect.file_name %>" /><br />

    <%  elsif sect.respond_to? :header %>
        
        <a name="section<%= sect.index %>" />
        <h2><%= sect.index %>. <%= sect.header %></h2>

        <%= sect.content.to_html %>

    <%  elsif sect.respond_to? :title %>
        
        <div class="sidebar">
        <h1><%= language.sidebar %></h1>
        <% if sect.title %>
        <h2><%= sect.title.to_html %></h2>
        <% end %>

        <%= sect.content.to_html %>
        <h1><%= language.sidebar %></h1>
        </div>

    <% else %>

        <%= RedCloth.new( sect ).to_html %>

    <%  end %>
    <% end %>

        <p style="text-align:right;">
        <a href="<%= nextPage %>"><%=language.turn_page%>.</a>
        </p>

    </div>
</div>
</div>
</body>
</html>
