<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= book.title.to_html %></title>
    <link rel="stylesheet" type="text/css" href="guide.css" />
</head>
<body>

<div id="wrapper">

    <div id="navigate">

        <!-- Left-hand access to the book online -->
        <a href="chapter-1.html"><img src="<%= book.image.file_name %>" alt="Why's (Poignant) Guide to Ruby" /></a>
        <p style="text-align:center"><a href="chapter-1.html"><b>Open the book.</b></a></p>

        <div class="toc">
        <p>This book was tenderly written and illustrated by 
        <a href="http://whytheluckystiff.net/">why the lucky stiff</a>.</p>

        <h3>~ Contents ~</h3>
        <ol>
            <% 
            book.chapters.each do |chap| 
            %>
            <li><b><a href="chapter-<%= chap.index %>.html"><%= chap.title.to_html %></a></b>
            <% 
                if chap.sections.detect { |c| c.respond_to? :header }
            %>
                <ol>
                <%
                    chap.sections.each do |sect|
                        next unless sect.respond_to?( :header )
                %>
                    <li><a href="chapter-<%= chap.index %>.html#section<%= sect.index %>"><%= sect.header.to_html %></a></li>
                <%
                    end
                %>
                </ol>
            <%
            end %></li><%
            end 
            %>
        </ol>
        <h4>+ Expansion Paks +</h4>
        <ol>
            <% 
            book.expansion_paks.each do |exp| 
            %>
            <li><b><a href="expansion-pak-<%= exp.index %>.html"><%= exp.title.to_html %></a></b></li>
            <% 
            end
            %>
        </ol>
        <h3>~ Adverrtissements ~</h3>
        <p>
        <a href="chapter-1.html"><img src="i/ad-birdman.gif" alt="Ad." style="border: solid 1px black;" /></a><br /><br />
        <a href="chapter-1.html"><img src="i/ad-sparkly-tigar.jpg" alt="Ad." /></a><br /><br />
        <a href="chapter-1.html"><img src="i/ad-weeizards.gif" alt="Ad." style="border: solid 1px black;" /></a><br /><br />
        </p>

        <h4>+ See Also +</h4>
        <ol>
            <li><b><a href="/dwemthy/">Dwemthy's Array</a></b>: the official site for the <i>(Poignant) Guide</i>'s own MINI_ADVENTURE.</li>
            <li><b><a href="http://preeventualist.org/">The Pre-eventualist</a></b></li>
        </ol>
        </div>

        <br /><br />
        <img src="i/poignant.guide.down.png" alt="umop-apisdn" />

    </div>
    <div id="main">

        <div class="bulletin">
            <h3>Lost foxes in <a href="chapter-6.html">Chapter 6. Downtown.</a>  Such juicy metaprogramming and class design!</h3>

            <p><b>T-Shirts</b>: <a href="http://www.cafeshops.com/blixytees.10117492">"Addiction is Like Pokemon..."</a>, <a href="http://www.cafeshops.com/blixytees.10116504">"Chunky. Bacon."</a>, and <a href="http://www.cafeshops.com/blixytees">others</a>.</p>
            <p><b>Want updates?</b>  Join <a href="http://rubyforge.org/mailman/listinfo/poignant-watchers">poignant-watchers</a>
            for a periodic update on new chapters.  Or 
            <a href="http://rubyforge.org/mailman/listinfo/poignant-stiffs">poignant-stiffs</a> for
            dicussion.</p>

            <p><a href="http://www.mozilla.org/products/firefox/"><img src="i/firefox.gif" alt="Get Firefox" /></a>
            <b>Print with Firefox!</b>
            Go to <b>File &gt; Page Setup...</b>  Set all your margins to zero.  
            Turn off all headers.  Go to the <a href="print.html">printable W(P)GtR.</a>  (Let it load.) 
            Then, Ctrl+P. </p>
        </div>

        <!-- Page Content discussing Ruby, the book, and my site -->

            <br />
            <% book.teaser.each do |sect| %>
            <h2><%= sect.header %></h2>
            <%= sect.content.to_html %>
            <% end %>

            <div class="bulletin">

                <!-- Creative Commons License -->
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/"><img alt="Creative Commons License" src="http://creativecommons.org/images/public/somerights20.gif" /></a><br />
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons License</a>.
                <!-- /Creative Commons License -->


                <!--

                <rdf:RDF xmlns="http://web.resource.org/cc/"
                    xmlns:dc="http://purl.org/dc/elements/1.1/"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <Work rdf:about="">
                   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
                   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.0/" />
                </Work>

                <License rdf:about="http://creativecommons.org/licenses/by-sa/2.0/">
                   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
                   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
                   <requires rdf:resource="http://web.resource.org/cc/Notice" />
                   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
                   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
                   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
                </License>

                </rdf:RDF>

                -->

            </div>

    </div>

</div>

</body>
</html>
